@page "/login"
@using Shared.Dtos.Users
@using Shared.Validators
@using MudBlazor
@inject HttpClient Http
@inject NavigationManager Navigation
@using FluentValidation 
@using Shared.Validators.Users

<h3>Login</h3>
<EditForm></EditForm>

@code
{
    LoginDto LoginDto = new LoginDto();

    public void HandleLogin()
    {
        
    }
}
