@page "/login"
@using Shared.Dtos.Users
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Login</h3>

<EditForm Model="@loginDto" OnValidSubmit="HandleLogin" FormName="loginDto">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <InputText id="username" class="form-control" @bind-Value="loginDto.Username" />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <InputText id="password" class="form-control" type="password" @bind-Value="loginDto.Password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

<p>@message</p>
<p>@erorr</p>

@code {
    private LoginDto loginDto = new LoginDto();
    private string message { get; set; }
    private string erorr { get; set; }
    bool success;

    private async Task HandleLogin()
    {
        Console.WriteLine($"Username: {loginDto.Username}, Password: {loginDto.Password}");

        if (string.IsNullOrWhiteSpace(loginDto.Username) || string.IsNullOrWhiteSpace(loginDto.Password))
        {
            erorr = "Username and password are required.";
            return;
        }


        var response = await Http.PostAsJsonAsync("Account/login", loginDto);

        if (response.IsSuccessStatusCode)
        {
            message = "Succesefully login" + response.StatusCode;
        }
        else
        {
            erorr = "Error: " + response.StatusCode + "\nDetails: " + await response.Content.ReadAsStringAsync();
        }
    }
}
