@page "/logout"

@using API.Client.Services
@using FluentResults
@inject ISnackbar Snackbar
@inject AccountService AccountService

<h3>Logout</h3>


<MudCard Elevation="6" Style="width: 100%; max-width: 500px; padding: 30px; border-radius: 15px; background-color: #ffffff;">
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Logout" Color="Color.Error" OnClick="LogoutHandler">Logout</MudButton>
</MudCard>


@code {

    private async Task LogoutHandler()
    {
        var response = await AccountService.Logout();
        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add("Logged out succesefully", Severity.Success);
        }
        else
        {
            Snackbar.Add("You are already logged out", Severity.Error);
        }
    }
}