@page "/personalCabinet"
@using API.Client.Components
@using API.Client.Services
@using Shared.Dtos.Users
@inject IDialogService DialogService
@inject AccountService AccountService
@inject UserService UserService
@inject ISnackbar Snackbar
@inject NavigationManager Navigation

<h3>Personal Cabinet</h3>

<MudGrid Spacing="3" Justify="Justify.SpaceBetween" AlignItems="Center">
    <MudItem xs="12" sm="6" md="5">
        <MudCard Elevation="6" Style="width: 100%; max-width: 400px; border-radius: 15px; text-align: left; margin: auto;">
            <MudCardHeader>
                <MudText Typo="Typo.h5" Align="Align.Center">Personal Information</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudStack Spacing="2">
                    <MudText Typo="Typo.subtitle1" Color="Color.Primary">Name:</MudText>
                    <MudText Typo="Typo.body1">@userInfo.FullName</MudText>

                    <MudDivider />

                    <MudText Typo="Typo.subtitle1" Color="Color.Primary">Email:</MudText>
                    <MudText Typo="Typo.body1">@userInfo.Email</MudText>

                    <MudDivider />

                    <MudText Typo="Typo.subtitle1" Color="Color.Primary">Phone:</MudText>
                    <MudText Typo="Typo.body1">@userInfo.PhoneNumber</MudText>
                </MudStack>
            </MudCardContent>
            <MudCardActions Style="text-align: center;">
                <MudButton Variant="Variant.Filled" OnClick="EditUser" Color="Color.Info">Edit</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="6" md="6">
                <CarDetails CustomerId="@userInfo.Id"/>
    </MudItem>
</MudGrid>





@code {
    UserDto userInfo;
    UpdateUserDto userEdit;

    protected override async Task OnInitializedAsync()
    {
        userInfo = await AccountService.GetLoggedInUser();

        userEdit = new UpdateUserDto()
        {
            Id = userInfo.Id,
            Email = userInfo.Email,
            Password = string.Empty,
            PhoneNumber = userInfo.PhoneNumber
        };
    }

    private async Task EditUser()
    {
        var parameters = new DialogParameters { { "userEdit", userEdit } };

        var dialog = DialogService.Show<EditUserDialog>("Edit personal information", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            userEdit = (UpdateUserDto)result.Data;
            var response = await UserService.UpdateUserAsync(userEdit);
            if (response.IsSuccessStatusCode)
            {
                Snackbar.Add("Saved", Severity.Success);           
                Navigation.NavigateTo(Navigation.Uri, forceLoad:true);
            }
            else
            {
                Snackbar.Add("Saving error", Severity.Warning);
            }
        }
        else
        {
            Snackbar.Add("Canceled", Severity.Info);
        }
    }
}
