@*
@page "/test"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<AuthorizeView Roles="Admin">
    <Authorized>
        <h3>Acesta este conținutul protejat pentru Admin</h3>

    </Authorized>
    <NotAuthorized>
        <h3>Nu esti autorizat ca  Admin</h3>

    </NotAuthorized>
</AuthorizeView>
*@




